<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Note it!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<th:block th:each="post : ${allposts}">
    <p th:text="${post.content}"></p>
    <a th:href="@{'/post/' + ${post.id}}">Delete</a>
</th:block>
    <form action="#" th:action="@{/}" th:object="${post}" method="post">
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>