<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <title>Note it!</title>
    <link rel="stylesheet" th:href="@{/static/css/normalize.css}"></link>
    <link rel="stylesheet" th:href="@{/static/css/estilos-simples.css}"></link>
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}"></link>
  </head>
  <body>
    <ul id="notas">
    <form id="form" action="#" th:action="@{/}" th:object="${post}" method="post">
      <li>
        <div>
          <h2><input id="titulo" type="text" name="titulo" placeholder="Titulo" th:field="*{title}"></input></h2>
          <a href="#" id="adiciona"><i class="fa fa-plus" aria-hidden="true"></i></a>
          <p><textarea id="nota" name="nota" cols="37" rows="16" placeholder="Texto" th:field="*{content}"></textarea></p>
        </div>
      </li>
    </form>
    <th:block th:each="post : ${allposts}">
    <li>
      <div>
        <h2><input id="titulo" type="text" placeholder="Titulo" readonly="true" th:value="${post.title}" /></h2>
        <a th:href="@{'/post/' + ${post.id}}" id="adiciona"><i class="fa fa-times" aria-hidden="true"></i></a>
        <p><textarea id="nota" cols="37" rows="16" placeholder="Texto" readonly="true" th:text="${post.content}"></textarea></p>
      </div>
    </li>
    </th:block>
    </ul>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>
